<% if @category.errors.any? or flash[:error] %>
  <div class="alert-message error">
    <p>
      <strong>
          <% if @category.errors.any? %>
            <%= t "errors.save_error", :count => @category.errors.count, :save_obj => (t "category") %>
            <br />
            <% @category.errors.full_messages.each do |msg| %>
                <strong>- <%= msg %></strong><br/>
            <% end %>
          <% elsif flash[:error] %>
            <%= (t "errors.save_error") %> <%= flash[:error] %>
          <% end %>
      </strong>
    </p>
  </div>
<% end %>

<%= simple_form_for @category do |f| %>
  <div class="image_world inner_wrap">
    <div class="image_world form fields">
      <div class="image_world form field">
        <%= f.input :name, :label => (t "attributes.name"), :label_html => {:class => "image_world form field label"} %> 
      </div>
      <div class="image_world form field odd">
        <%= f.input :description, :label => (t "attributes.description"), :label_html => {:class => "image_world form field label"} %>
      </div>
      <div class="image_world container form submit"><%= f.button :submit, :id=> "fs", :value=>(t "actions.save") %></div>
    </div>
  </div>
<% end %>