<%= content_for :path do %>
  <div class="image_world path element link first">
    <%= (t "model.category.singular")%>
  </div>
  <div class="image_world path element text seperator"> > </div>
  <div class="image_world path element link second">
    <%= link_to @category.name, category_path(@category) %>
  </div>
<% end %>

<%= content_for :general_actions do %>
  <% if @category.id != 1 %>
    <%= link_to (t "actions.edit"), edit_category_path(@category), :class => "image_world general_action link two" %>
    <%= link_to (t "actions.destroy"), category_path(@category), confirm: (t "actions.confirm"), method: :delete, :class => "image_world general_action link odd two" %>
  <% else %>
    <%= link_to (t "actions.edit"), edit_category_path(@category), :class => "image_world general_action link one" %>
  <% end %>
<% end %>

<%= content_for :page_title do %>
  <div class="image_world text item_name">
    <%= @category.name %>
  </div>
  <div class="image_world text item_seperator"> | </div>
  <div class="image_world text item_description">
    <%= @category.description %>
  </div>
<% end %>

<% if @category.id != 1 %>
  <div class="image_world container category projects">
<% else %>
  <div class="image_world container category projects general_category">
<% end %>
  <%= render :partial => "categories/project/list", :locals => {:category => @category} %>
</div>

<div class="image_world container category new_work">
  <% if @category.id != 1%>
    <%= render :partial => "new_work", :locals => {:category => @category} %>
  <% end %>
</div>

<button type="button" id="hidden_category_button" style="display:none;" onclick="highlightCategory('<%= @category.id %>')" ></button>

<script>
  $("#hidden_category_button").click();
function highlightCategory(src) {
  $("#left_item_c" + src).addClass("selected");
}

</script>