<h1>Listing Class Types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @class_types.each do |class_type| %>
  <tr>
    <td><%= class_type.name %></td>
    <td><%= class_type.description %></td>
    <td><%= link_to 'Show', class_type %></td>
    <td><%= link_to 'Edit', edit_class_type_path(class_type) %></td>
    <td><%= link_to 'Destroy', class_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Class type', new_class_type_path %>
