<h1>Listing Model Classes</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Parent Class</th>
    <th>Name</th>
    <th>Class type</th>
    <th>Abstract</th>
    <th>Description</th>
    <th>Warning</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @model_classes.each do |model_class| %>
  <tr>
    <td><%= model_class.project.name %></td>
    <% if model_class.parent_class %>
      <td><%= model_class.parent_class.name %></td>
    <% else %>
      <td>None</td>
    <% end %>
    <td><%= model_class.name %></td>
    <td><%= model_class.class_type.name %></td>
    <td><%= model_class.abstract %></td>
    <td><%= model_class.description %></td>
    <td><%= model_class.warning %></td>
    <td><%= link_to 'Show', model_class %></td>
    <td><%= link_to 'Edit', edit_model_class_path(model_class) %></td>
    <td><%= link_to 'Destroy', model_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Model class', new_model_class_path %>
