<tr>
    <td><%= person.id %></td>
    <td><%= person.name %></td>
    <td style="max-width: 150px; word-wrap: break-word;"><%=mail_to person.user.email %></td>
    <td><%= person.phone_number %></td>
    <td><%= person.birthday %></td>

    <td class="act">
        <%= link_to (t "actions.show"), person %>
        <%= link_to (t "actions.edit"), edit_person_path(person) %>
        <%= link_to (t "actions.destroy"), person, method: :delete, data: { confirm: I18n.t("actions.confirm_to") } %></td>
    </td>
</tr>
