<h2 class="page_name"><%= (t "change_password")%></h2>


<% if @user.errors.any? %>
    <div class="alert-message error">
      <p>
        <strong>
            <%= t "errors.save_error", :count => @user.errors.count, :save_obj => (t "user") %>
        </strong>
        <br />
        <% @user.errors.full_messages.each do |msg| %>
            <strong>- <%= msg %></strong><br/>
        <% end %>
      </p>
    </div>
  <% end %>



  <%= simple_form_for @user,:url => user_save_password_path({:id => @user.id}) do |f| %>
  <div class="inner_wrap">
    <div class="form field_list">
		<%= render :partial => 'password_form', :locals => { :f => f} %>
		<div class="submit">
        <%= f.button :submit, (t "actions.save"), :id => "fs"%>
      </div>
    </div>
  </div>
<% end %>