<h1>Listing Method Parameters</h1>

<table>
  <tr>
    <th>Method member</th>
    <th>Name</th>
    <th>Data type</th>
    <th>Description</th>
    <th>Warning</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @method_parameters.each do |method_parameter| %>
  <tr>
    <td><%= method_parameter.method_member.name %></td>
    <td><%= method_parameter.name %></td>
    <td><%= method_parameter.data_type.name %></td>
    <td><%= method_parameter.description %></td>
    <td><%= method_parameter.warning %></td>
    <td><%= link_to 'Show', method_parameter %></td>
    <td><%= link_to 'Edit', edit_method_parameter_path(method_parameter) %></td>
    <td><%= link_to 'Destroy', method_parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Method parameter', new_method_parameter_path %>
